body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family: Arial, sans-serif;
}
#putContent{
    width: 300px;
}
#putContent form {
    display: flex;
    flex-direction: column;
}

#putContent input[type="text"],
#putContent input[type="number"],
#putContent select,
#putContent input[type="date"] {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#putContent button[type="submit"] {
    padding: 13px 20px;
    margin-top: 10px;
    background-color: #0782F9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

#putContent button[type="submit"]:hover {
    background-color: #0569c6;
}

#putContent input::placeholder {
    color: #999;
}
label {
    margin-bottom: 3px;
    font-size: 14px;
}