<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudyingWith</title>
    <link rel="stylesheet" href="/css/createGoal.css">
</head>
<body>
<div id="createContent">
  <h1>목표 추가</h1>
  <form th:action="@{/goal/planner/{planner_id}/add(planner_id=${plannerId})}" method="post">
    <input type="hidden" name="plannerId" value="${plannerId}">

    <input type="text" id="content" name="content" placeholder="내용" required>

    <label for="studyTime">공부 시간</label>
    <input type="number" id="studyTime" name="studyTime">

    <label for="completeYn">완료 여부</label>
    <select id="completeYn" name="completeYn" required>
      <option value="Y">완료</option>
      <option value="N">미완료</option>
    </select>

    <label for="createdAt">생성일</label>
    <input type="date" id="createdAt" name="createdAt" placeholder="생성일" required>

    <button type="submit">저장</button>
  </form>
</div>

<script src="/js/settingValue.js"></script>
</body>
</html>