<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudyingWith</title>
    <link rel="stylesheet" href="/css/goalList.css">
</head>
<body>
<div id="goalContent">
    <div class="tab-container">
        <h1 id="todayDate"></h1>
        <form th:action="@{/goal/planner/{planner_id}/search(planner_id=${plannerId})}" method="get">
            <button type="submit">검색</button>
        </form>
        <form th:action="@{/goal/planner/{planner_id}/statistics(planner_id=${plannerId})}" method="get">
            <button type="submit">통계</button>
        </form>
    </div>

    <div>
        <a th:href="@{/goal/planner/{planner_id}/add(planner_id=${plannerId})}">
            <button id="addGoalBtn">목표 추가</button>
        </a>

        <table>
            <thead>
            <tr>
                <th>내용</th>
                <th>시간</th>
                <th>완료</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="goal : ${goals}">
                <td th:text="${goal.content}"></td>
                <td th:text="${goal.studyTime}"></td>
                <td th:text="${goal.completeYn}"></td>
                <td>
                    <form th:action="@{/goal/{id}/put(id=${goal.id})}" th:method="get">
                        <input type="hidden" name="id" th:value="${goal.id}">
                        <button class="BtnStyle" type="submit">수정</button>
                    </form>
                    <form th:action="@{/goal/{id}/delete(id=${goal.id})}" th:method="post">
                        <button class="BtnStyle" type="submit">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/>
    <a class="goBack" href="/planners">이전</a>
</div>

<script src="/js/goalList.js"></script>
</body>
</html>