<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>StudyingWith</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="mainContent">
    <h1>StudyingWith</h1>
    <p>+를 눌러 플래너를 작성해보세요!</p>
    <img src="img/goalList.png" alt="목표리스트 페이지">
    <br/>
    <img src="img/statistics.png" alt="통계 페이지">
    <br/>
    <img class="smallImg" src="img/createGoal.png" alt="목표생성 페이지">
    <img class="smallImg" src="img/putGoal.png" alt="목표수정 페이지">
</div>

<div id="navigation">
    <button id="addPlannerButton" type="button">+</button>
    <form id="addPlannerForm" th:action="@{/planner/add}" th:method="post" style="display: none;">
        <input type="text" name="title" placeholder="플래너 이름" required>
        <button type="submit">확인</button>
    </form>

    <ul>
        <!-- 왼쪽 네비게이션 바 -->
        <li th:each="planner : ${planners}">
            <a th:href="@{/goal/planner/{planner_id}(planner_id=${planner.id})}" th:text="${planner.title}"></a>
            <div id="rowBtn">
                <!--플래너 수정-->
                <form th:action="@{/planner/{id}/put (id=${planner.id})}" th:method="post" style="display: none;">
                    <input type="hidden" name="id" th:value="${planner.id}">
                    <input type="text" name="title" id="newTitleInput" required>
                    <button type="submit" style="display: none">추가</button>
                </form>
                <button class="putPlannerButton" type="button">수정</button>
                <!--플래너 삭제-->
                <form th:action="@{/planner/{id}/delete (id=${planner.id})}" th:method="post">
                    <input type="hidden" name="id" th:value="${planner.id}">
                    <button class="putPlannerButton" type="submit">삭제</button>
                </form>
            </div>
        </li>
    </ul>
    <div sec:authorize="isAuthenticated()" class="logoutDiv">
        <span th:text="${username}" class="white"></span>
        <a class="logoutBtn" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
    </div>
</div>

<script src="/js/main.js"></script>
</body>
</html>