<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StudyingWith</title>
  <link rel="stylesheet" href="/css/putGoal.css">
</head>
<body>
<div id="putContent">
  <h1>목표 수정</h1>
  <form th:action="@{/goal/{id}/put(id=${goalId})}" th:object="${goal}" method="post">
    <input type="hidden" th:field="*{planner.id}">

    <input type="text" id="content" th:field="*{content}" placeholder="내용" required>

    <label for="studyTime">공부 시간</label>
    <input type="number" id="studyTime" th:field="*{studyTime}" required>

    <label for="completeYn">완료 여부</label>
    <select id="completeYn" th:field="*{completeYn}" required>
      <option value="Y">완료</option>
      <option value="N">미완료</option>
    </select>

    <label for="createdAt">생성일</label>
    <input type="date" id="createdAt" th:field="*{createdAt}" required>

    <button type="submit">저장</button>
  </form>
</div>
<script src="/js/settingValue.js"></script>

</body>
</html>