<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudyingWith</title>
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
<div id="searchContent">
    <h1>목표 검색</h1>

    <form th:action="@{/goal/planner/{planner_id}/date(planner_id=${plannerId})}" method="get">
        <input type="date" id="selectedDate" name="selectedDate" required>
        <input type="hidden" id="plannerId" name="plannerId" th:value="${plannerId}">
        <button id="searchBtn" type="submit">조회</button>
    </form>
    <br />
    <p th:if="${selectedDate != null}">
        <span th:text="${selectedDate}"></span>를 기준으로 검색된 결과입니다.
    </p>
    <table>
        <thead>
        <tr>
            <th>내용</th>
            <th>시간</th>
            <th>완료</th>
            <th>생성일</th>
        </tr>
        </thead>
        <tbody>
        <!-- 검색 결과를 반복해서 출력 -->
        <tr th:each="goal : ${goals}">
            <td th:text="${goal.content}"></td>
            <td th:text="${goal.studyTime}"></td>
            <td th:text="${goal.completeYn}"></td>
            <td th:text="${goal.createdAt}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a class="goBack" th:href="@{/goal/planner/{planner_id}(planner_id=${plannerId})}">이전</a>
</div>
</body>
</html>